<section class="SC-Modal" data-modal="age-verification">
  <div class="SC-Modal_inner SC-Modal_inner-skinny sc-text-center">
    <div class="SC-Modal_inner_header">
      <h4 class="sc-font-xlarge">{{ "Age verification" }}</h4>
    </div>
    <div class="SC-Modal_inner_body">
      <h5 class="sc-font-bold sc-font-xlarge">18+</h5>
      <p class="sc-font-medium">{{ "YOU MUST BE OVER 18 TO SHOP HERE. THE SMOKING CABINET IS USED TO BUY PIPES ONLINE. TO ENTER THIS SITE YOU MUST BE OVER 18. CONFIRM YOU ARE OVER 18 BELOW TO ENTER.." }}</p>
    </div>
    <div class="SC-Modal_inner_footer sc-flex-col sc-gap-small">
      <button type="submit" id="age-verification-successful-age" class="SC-Button SC-Button-secondary" data-modal-trigger="age-verification">{{ "I am 18+" }}</button>
      <button type="submit" id="age-verification-failed-age" class="SC-Button SC-Button-primary" data-modal-trigger="age-verification">{{ "I am not old enough." }}</button>
    </div>
  </div>
  <div class="SC-Modal_overlay"></div>
</section>

<section class="SC-Modal " data-modal="no-access">
  <div class="SC-Modal_inner SC-Modal_inner-skinny sc-text-center">
    <div class="SC-Modal_inner_header">
      <h4 class="sc-font-xlarge">{{ "Age verification" }}</h4>
    </div>
    <div class="SC-Modal_inner_body">
      <h5 class="sc-font-bold sc-font-xlarge">{{ "18+" }}</h5>
      <p class="sc-font-medium">{{ "Sorry, you are underage and are unable to visit out site." }}</p>
    </div>
    <div class="SC-Modal_inner_footer sc-flex-col sc-gap-small">
      <button type="submit" id="no-access-authorised" class="SC-Button SC-Button-secondary" >{{ "Leave" }}</button>
    </div>
  </div>
  <div class="SC-Modal_overlay"></div>
</section>