{% assign alignment = content_block.alignment %}

{%- capture alignment_value %}
  {%- case alignment %}
    {%- when "left" %}
      {{ "sc-align-items-left" }}
    {%- when "center" %}
      {{ "sc-align-items-center" }}
    {%- when "right" %}
      {{ "sc-align-items-end" }}
  {%- endcase %}
{%- endcapture %}

<section class="SC-ContentBlock SC-FeaturedCategories SC-CardCarousel sc-expand tns-cards"
         id="SC-ContentBlock-{{ content_block.identifier }}">

  {% if content_block.title != blank or content_block.subtitle %}
  <div class="SC-FeaturedCategories_header SC-CardCarousel_header sc-section_header sc-three-quarters-medium-and-up sc-ms-auto sc-flex-col {% if alignment == 'center-text' %}sc-text-center{% endif %}">
    {% if content_block.title != blank %}
      <h2 class="SC-CardCarousel_heading sc-section_heading">{{ content_block.title }}</h2>
    {% endif %}
    {% if content_block.subtitle != blank %}
      <p class="sc-font-large">{{ content_block.subtitle }}</p>
    {% endif %}
  </div>
  {% endif %}

  {% assign count = content_block.product_categories.size %}

  {% if count <= 4 %}
    <div class="sc-grid sc-two-to-four-column">
      {%- for product_category in content_block.product_categories %}
        {%- render "shared/category_card", product_category: product_category %}
      {%- endfor %}
    </div>
  {% elsif count >  4 %}
      <div class="sc-pb-small sc-flex" data-featured-slider="{{ content_block.identifier }}">
        {%- for product_category in content_block.product_categories %}
          {%- render "shared/category_card", product_category: product_category %}
        {%- endfor %}
      </div>
  {% endif %}
  {% comment %} Making decision if remove it or not 
  <div class="SC-FeaturedCategories_footer sc-flex-col sc-hide-up-to-large {{ alignment_value }}">
    <div>
      <a class="SC-Button SC-Button-outline sc-font-small sc-font-normal sc-uppercase" href="{{ content_block.link_target }}">
        <span>{{ content_block.link_label }}</span>
      </a>
    </div>
  </div>
  {% endcomment %}
</section>